
<div class="footer">
     <div id="social">
    <ul>
        <li>
           <button mat-button><img class="s-icon" src="../assets/img/socialicon/facebook.png" alt="facebook" sizes="small"></button>
        </li>
        <li>
            <button mat-button><img class="s-icon" src="../assets/img/socialicon/twitter.png" alt="twitter" sizes="small"></button>
         </li>
         <li>
            <button mat-button><img class="s-icon" src="../assets/img/socialicon/google+.svg" alt="google+" sizes="small"></button>
         </li>
        <li><button mat-button><img class="s-icon" src="../assets/img/socialicon/linkedin.png" alt="linkedin" sizes="small"></button>
        </li>
    </ul>
</div>
    <div class="foot-item">
        <img id="img" src="../assets/img/logo/logo-final.PNG" alt="footer-img"> 
    </div>
    <div class="foot-item">
        <ul>
            <li><h3>About Us</h3></li>
            <li class="li"><mat-icon>filter_1</mat-icon>&nbsp;&nbsp; About us </li>
            <li class="li"><mat-icon>filter_2</mat-icon>&nbsp;&nbsp; more...</li> 
            <li class="li"> <span matBadgePosition="before" matBadge="1" matBadgeOverlap="false"  matBadgeColor="accent"><mat-icon class="shake">notification_important</mat-icon></span>&nbsp;&nbsp;Notifications</li>
        </ul>
    </div>
    <div class="foot-item">
        <ul>
            <li><h3>Privacy Policy</h3></li>
            <li class="li"><mat-icon>filter_1</mat-icon>&nbsp;&nbsp;Policy</li>
            <li class="li"><mat-icon>filter_2</mat-icon>&nbsp;&nbsp;License</li>
            <li class="li"><mat-icon>policy</mat-icon>&nbsp;&nbsp; Term of Use</li>
        </ul>
    </div>
    <div class="foot-item">
        <ul>
            <li><h3>Contact Us</h3></li>
            <li class="li"><mat-icon>call</mat-icon>&nbsp;&nbsp;{{telephone}}</li>
            <li class="li"><mat-icon>email</mat-icon>&nbsp;&nbsp;{{email}}</li>
            <li class="li" (click)="comments()"><mat-icon>message</mat-icon>&nbsp;&nbsp;{{msg}}</li>
        </ul>
    </div>
</div>
