<div id="background">
    <section>
        <!-- <ng-slideshow [options]="options" [images]="images"></ng-slideshow> -->
    </section>
        <mat-card class="dashboard-card">
            <mat-card-header>
                <div mat-card-avatar class="dashboard-avatar"></div>
                <mat-card-title>find your worker easy way...</mat-card-title>
                <mat-card-subtitle>& give your service...</mat-card-subtitle>
                </mat-card-header> 
                <img mat-card-image src="../assets/img/logo/logo-final.PNG" alt="dashboard-image">
                <mat-card-content>
                    <p>
                        This is a platform published for you named <b style="color: teal">'Online Workers'</b>.
                        Online Workers just not a ordinary web application. This is web application 
                        make easy life of consumer and worker.

                    </p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <!-- <button mat-button>LIKE</button> -->
                    <button mat-button>SHARE</button>
                </mat-card-actions>
        </mat-card>
        <mat-card id="dashboard-foot">
            <ul>
                <li>
            <mat-card-header>
              <div mat-card-avatar class="dashboard-avatar"></div>
              <mat-card-title><b>comments</b></mat-card-title>
              <mat-card-subtitle id="comments" (click)="showDialog()"><b>{{ccount}}</b></mat-card-subtitle>
            </mat-card-header>
                </li>
                <li>
            <mat-card-header>
              <div mat-card-avatar class="dashboard-avatar"></div>
              <mat-card-title><b>likes</b></mat-card-title>
              <mat-card-subtitle><b>{{lcount}}</b></mat-card-subtitle>
              </mat-card-header>
                </li>
                <li>
              <mat-card-header>
              <div mat-card-avatar class="dashboard-avatar"></div>
              <mat-card-title><b>members</b></mat-card-title>
              <mat-card-subtitle><b>{{mcount}}</b></mat-card-subtitle>
              </mat-card-header>
              </li>
              </ul>
        </mat-card>
        <mat-card id="dashboard-button">
            <button (click)="directToLogin()" style="background: teal" name="login" mat-raised-button><b>LOGIN</b></button>
        </mat-card>
</div>
