
mat-toolbar{
    background-color:#ececec;
    color:black;
    /* border:#9eccb4 solid 2px; */
    box-shadow: 1px 2px 14px -9px;
    /* margin-top:0.5em; */
   
}
.navbar{
    justify-content: space-between;
    padding-left: 4em;;
}
#onlineWork:hover {
    cursor: pointer;
    color: indigo;
    transform: scale(1.5);  
}
.type{
    margin-left: -3em;
}   
span{
    padding-left:1rem;
}
::ng-deep .mat-menu-panel{
    max-width:none !important;
    width:1324px; 
    height: 285px;
    background:rgba(255,255,255,.7);
    margin-top: 1em;
    position: absolute;
    left: -471px;
}
::ng-deep .categeory{
    position:absolute;
    left:-361px ;
}
button.mat-menu-item{
   width:50%;
  
}
.mat-menu-item{
    color:black;
    margin: 0.5em;
    width:100px;
    height: 100px;
    display: -webkit-inline-flex;

}
.mat-menu-item:hover{
 color: white; 
} 
.categeory-name{
    margin-left: 2em;
    width: 100px;
    height: 50px;
    background-color: yellow;
    
}
.dropdown-avatar{
    background-image: url(src\assets\img\avator.jpeg);
    background-size: cover;
}
img{
    width:60px;
    height: 60px;
    border-radius: 100%;
    filter: gray;
    -webkit-filter: grayscale(1);
    margin-right: 21px;
    /* -webkit-transition: all .8s ease-in-out; */
}
img:hover{
    filter: none;
    -webkit-filter: grayscale(0);
    transform: scale(1.3);
    /* -webkit-transform: scale(1.01); */
    
}
.categeoryitems, .menuitems{
    display: flex;
    flex-wrap: wrap;
    float: left;
   
    
}
.menuitems .mat-menu-item{
  width: 149px;
  height: 40px;
  margin-right: 1em;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(36, 97, 51, 0.77);
 
}
#d:hover{
    transform: scale(1.2);
}
mat-icon{
    color: black;
}
mat-icon:hover{
    /* color: white; */
    transform: scale(1.2);
}
.categeoryitems .mat-menu-item{
    width:31em;
    height: 9em;
    margin-right: -4.5px;
    margin-bottom: -4.5px;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(36, 97, 51, 0.77);
 
}
.mat-card{
    width: 294px;
    height: 80px;
}
#categeory:hover{
    text-decoration: underline;
}
.mat-card-header .mat-card-title{
    margin-bottom: -25px;
}
.mat-card-subtitle{
    color: rgba(36, 97, 51, 0.77);
    display: -moz-box;
    text-align: left;
}
div .mat-card-header-text{
    width: 100px;
    word-break: keep-all;
}
::ng-deep .user{
    width:20rem;
    height: 20rem;
   position: absolute;
   left:-198px;
    
}
#nav-left{
    margin-right: -7em;
}
::ng-deep .user .mat-card{
    width:17rem;
    height: 17rem;
    background-color: rgba(36, 97, 51, 0.77);
    margin-left: 8px;
    border-radius: 11px 3px 203px 1px;

}
#logout-btn{
    background-color: white;
    color: rgba(36, 97, 51, 0.77);
    position:absolute;
    top:14rem;
}
#logout-btn:hover, .field-user:hover{
    background-color: rgb(55, 93, 64);
    color:white;
}
.field-user{
    background-color: #ffffff4a;
    color: rgba(36, 97, 51, 0.77);
    margin-bottom: 8px;
    min-width: -webkit-fill-available;
    text-align: initial;
}

#field-user{
    margin-top:2rem;
}
#user-role{
    background-color:rgb(86, 133, 97);
    border-radius: 100%;
    border-radius: 40px 44px 53px 1px;
    margin-left: 24px;
}
#user-icon{
    margin-top: 0rem;
    vertical-align:middle;
}
#back-like{
    margin-top: 44px;
  
}
#like{
    background-color: white;
    border-radius: 100%;
    margin-left:1rem;
}




