<div class="background">
    <img src="../assets/img/login-final.jpg" id="back-login" alt="login-background-image">
    <div id="form">
        <div class="form-contain">
            <mat-card class="l1">
                <mat-card-content>
                    <div class="container">
                        <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginForm()" novalidate>
                            <div>
                                <mat-form-field appearance="legacy">
                                    <mat-label>Username</mat-label>
                                    <input id="name" matInput formControlName="username" [(ngModel)]="user.username"
                                        placeholder="username">
                                     <mat-error>username required</mat-error>   
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearence="legacy">
                                    <mat-label>Password</mat-label>
                                    <input id="password" matInput formControlName="password" [(ngModel)]="user.password"
                                        [type]="hide ? 'password':'text'" placeholder="password">
                                    <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'hide password'"
                                        [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    
                                    </mat-form-field>
                            </div>
                            <div>
                                <button mat-button type="submit" mat-raised-button color="accent"
                                    [disabled]="!loginForm.valid">Sign in</button><br><br>
                                    <span style="color: white;">Not a member?&nbsp;&nbsp;<a hrf="" (click)="openRegister()">Sign up</a></span>
                            </div>
                        </form>
                    </div>
                    <div class="social-login">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Sign in with</mat-card-title>
                                <mat-card-subtitle>Sign in with your social media account</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <li *ngFor="let s of social">
                                    <img class="s-l-icon" [src]="s.path"  sizes="small" [alt]="s.alt"  (click)="socialLogin(s.id)">
                                    </li>
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div> 
    <section>
        <app-page-login-middle></app-page-login-middle>
    </section>
    <section>
        <app-footer></app-footer>
    </section>
</div>