<app-navbar></app-navbar>
<div class="body">
  <div id="clip"></div>
    <h1>Make your profile better</h1>
      <h4>edit additional information &nbsp;| &nbsp;edit common information &nbsp;| &nbsp;
      change security</h4>
    <blockquote [hidden]="tips">{{username}}, you are not fill your additional information yet, 
      Please fill and complete your profile !.</blockquote>
    <ul>
      <li (click)="scroll(security)"><mat-icon>build</mat-icon>&nbsp;&nbsp;Security</li>
      <li>|</li>
      <li (click)="scroll(profile)"><mat-icon>account_circle</mat-icon>&nbsp;&nbsp;Profile</li>
    </ul>
  <div id="additionalinfo">
    <b>- &nbsp;{{username}}</b><br><br>
        - &nbsp;{{description | titlecase}}<br><br>
        - &nbsp;{{address}}<br><br>
        - &nbsp; {{contactNo}}<br><br>
        - &nbsp; {{area}}<br><br>
        - &nbsp; {{email}}<br>
  </div> 
   <div id="formbody">
     <div>
      <mat-horizontal-stepper linear #hstepper>
        <mat-step [stepControl]="userInfoForm1">
          <form [formGroup]="userInfoForm1" (ngSubmit)="userInfoForm1.valid && onSubmitUserDetails()" novalidate>
            <ng-template matStepLabel>fill out your persional details </ng-template>
            <mat-form-field style="width: 350px;">
              <mat-label>Fullname</mat-label>
              <input matInput formControlName="fullName" style="width: 350px;" placeholder="first name, last name"
                required>
            </mat-form-field> <br>
            <mat-form-field style="width: 350px;">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" style="width: 350px;" placeholder="address" required>
            </mat-form-field> <br>
            <mat-form-field style="width: 350px;">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" style="width: 350px;" placeholder="city" required>
            </mat-form-field><br>
            <mat-form-field style="width: 350px;">
              <mat-label>District</mat-label>
              <input matInput formControlName="district" style="width: 350px;" placeholder="district" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="userInfoForm2">
          <form [formGroup]="userInfoForm2" (ngSubmit)="userInfoForm2.valid && onSubmitUserDescribePath()" novalidate>
            <ng-template matStepLabel>describe your path</ng-template>
            <mat-form-field style="width: 350px;">
              <mat-label>description(describe about you)</mat-label>
              <textarea matInput id="description" formControlName="description" style="width: 350px;"
                placeholder="create your description" cols="50" rows="10" required></textarea>
              <mat-hint>make between 100-150 words</mat-hint>
            </mat-form-field> <br>
            <mat-form-field style="width: 350px;">
              <mat-label>Area(job)</mat-label>
              <input matInput formControlName="userArea" style="width: 350px;" placeholder="your job area " required>
              <mat-hint>(Ex: carpenter, plumber, teller, ...)</mat-hint>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="userInfoForm3">
          <form [formGroup]="userInfoForm3" (ngSubmit)="userInfoForm3.valid && onSubmitUserExperiance()" novalidate>
            <ng-template matStepLabel>experiances</ng-template>
            <mat-form-field style="width: 350px;">
              <mat-label>your experiances</mat-label>
              <textarea matInput id="experiance" formControlName="experiance" style="width: 350px;"
                placeholder="mention your experiances" cols="50" rows="10" required></textarea>
              <mat-hint>make between 100-150 words</mat-hint>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="submitUserDetails()">Submit</button>
            <button mat-button (click)="hstepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
   </div>
   <br>
   <h2 id="h2"> Edit your profile</h2>
   <div class="form-security" #profile>
    <form [formGroup]="profileInfoForm" (ngSubmit)="profileInfoForm.valid && onSubmitProfileInfo()" novalidate>
      <div>
        <mat-form-field style=" width: 40rem;" appearance="legacy">
        <mat-label>edit your description</mat-label>
              <textarea matInput id="description1" formControlName="description" style="width: 643px;"
                placeholder="" cols="70" rows="6" ></textarea>
              <mat-hint>make between 100-150 words</mat-hint>
        </mat-form-field>    
      </div>
      <br>
      <div>
          <mat-form-field style=" width: 30rem;" appearance="legacy">
              <mat-label>Email</mat-label>
              <input id="email" matInput formControlName="email"
                  placeholder="email">
          </mat-form-field>
      </div>
      <div>
          <mat-form-field style=" width: 30rem;" appearance="legacy">
              <mat-label>Contact No.</mat-label>
              <input  id="contact" matInput formControlName="contactNo"
                   value="dxfcvgbb">
              <mat-hint>(valid contact 071-0/077-6/072)</mat-hint>
          </mat-form-field>
      </div> 
      <div>
        <mat-form-field style=" width: 30rem;" appearance="legacy">
            <!-- <mat-label>Job area</mat-label> -->
            <input  id="area" matInput formControlName="area"
                Value="sdxfc">
            <mat-hint>(Ex: carpenter, plumber, teller, ...)</mat-hint>
        </mat-form-field>
    </div>        
      <br>
      <div>
          <button class="s-btn" mat-button type="submit" mat-raised-button name="change" >save</button>
      </div>
  </form>
  </div>
</div>
<h2 id="h2-s"> Change Username & Password</h2>
<div class="security" #security>
   <form [formGroup]="securityForm" (ngSubmit)="onSubmitSecurity()">
       <div>
          <mat-form-field style=" width: 20rem;" class="mat-headline" appearance="legacy">
              <mat-label>Username</mat-label>
              <input id="name" name="username" matInput formControlName="username"
                  placeholder="change username">
          </mat-form-field>
      </div>
      <div>
          <mat-form-field style=" width: 20rem;" appearance="legacy">
               <mat-label>Password</mat-label>
              <input id="password" name="password" matInput formControlName="password"
                  [type]="hide ? 'password':'text'" placeholder="change password">
              <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'hide password'"
                  [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-hint>(password with length between 6-16)</mat-hint>
          </mat-form-field> 
      </div> 
      <br>
      <button class="s-btn" mat-button mat-raised-button type="submit">save</button>
   </form>
</div>
<notifier-container id="notifier"></notifier-container>
<app-footer></app-footer> 