<div class="background" >
  <section class="heading" #top>
    <app-navbar (emitMessage)="getChildEmitMessage($event)"  (emitMessage1)="routingAboutbtn($event)"></app-navbar>
    <img id="themeimg" src="../assets/img/Section1.png" alt="theme image">
   <!-- <button [scrollTo]="about" [scrollDuration]="1000" [scrollOffset]="-100">down</button> -->
  </section>
  <div class="body">
    <!-- create mat card -->
    <div id="body">
      <ng-container *ngFor="let roll of jobDic | paginate:{
                                      
                                       itemsPerPage:pageSize,
                                       currentPage:pageNumber
                                       } ">
        <mat-card>
          <mat-card-header>
            <mat-card-title><u>{{roll.title}}</u>&nbsp;&nbsp;&nbsp;&nbsp; <span
                color="accent">{{roll.created_date}}</span></mat-card-title>
            <mat-card-subtitle><i>{{roll.name}}&nbsp;&nbsp;&nbsp; District: <span>{{roll.district}}</span></i>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="mat-cont">
              <img src="../assets/img/avator.jpeg" alt="card image">
              <div class="like">
                <!-- need to create pipe for show  as 1M 2K -->
                <span matBadge="{{likes | count}}" matBadgeOverlap="false" matBadgeColor="accent">
                  <mat-icon>thumb_up</mat-icon>
                </span>
              </div>
              <div class="like">
                <span matBadge="{{comments}}" matBadgeOverlap="false" matBadgeColor="primary">
                  <mat-icon>sms</mat-icon>
                </span>
              </div>
            </div>
            <div>
              {{roll.description}}
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <button color="accent" mat-raised-button>more details..</button>
          </mat-card-actions>
        </mat-card>

      </ng-container>
    </div>
    <section id="sectionFooter" >
      <hr>
        <div id="page-control" #about>
          <button id="top" mat-raised-button color="accent" (click)="scroll(top)"> goto top</button>
      <pagination-controls (pageChange)="pageNumber=$event"></pagination-controls>
      </div>
      <app-footer></app-footer>
    </section>
  </div>
  <notifier-container id="notifier"></notifier-container>