<div class="body">
<div id="container" [@listAnimation]="items.length">
 <div id="list" *ngFor="let item of items">
     {{items }}
 </div>
 <div @anim >
     <div class="col">
         <p>I think Coursetro is one of the best learning resources online angiuLlar</p>
     </div>
     <div class="col">
        <p>I think Coursetro is one of the best learning resources online angiuLlar</p>
    </div>
    <div class="col">
        <p> one of the best learning resources online angiuLlar</p>
    </div>
 </div>
</div >
</div>
