<div class="body">
    <div id="container" [@listAnimation]="items.length">
        <div id="list" *ngFor="let item of items">
            {{items }}
        </div>
        <div @anim>
            <div class="col">
                <p>I think Coursetro is one of the best learning resources online angiuLlar</p>
            </div>
            <div class="col">
                <p>I think Coursetro is one of the best learning resources online angiuLlar</p>
            </div>
            <div class="col">
                <p>I think Coursetro is one of the best learning resources online angiuLlar one of the best learning
                    resources online angiuLlar</p>
            </div>
        </div>
    </div>
    <hr>
    <section>
        <div>
            <div>
                <img id="mid-img" src="../assets/img/Section1.png" alt="midddle">
            </div>
            <div id="mid-details1">
                <div class="position">
                    <p>I think Coursetro is one of the best learning resources online angiuLlar one of the best learning
                        resources online angiuLlar</p>
                </div>
                <div class="position">
                    <p>I think Coursetro is one of the best learning resources online angiuLlar one of the best learning
                        resources online angiuLlar</p>
                </div>
                <div class="position">
                    <p>I think Coursetro is one of the best learning resources online angiuLlar one of the best learning
                        resources online angiuLlar</p>
                </div>
            </div>
        </div>
        <div style="height: 17rem;">
        <div style="margin-top:4rem">
            <div class="position">
                <p>I think Coursetro is one of the best learning resources online angiuLlar one of the best learning
                    resources online angiuLlar</p>
            </div>
            <div class="position">
                <p>I think Coursetro is one of the best learning resources online angiuLlar one of the best learning
                    resources online angiuLlar</p>
            </div>
            <div class="position">
                <p>I think Coursetro is one of the best learning resources online angiuLlar one of the best learning
                    resources online angiuLlar</p>
            </div>
        </div>
        <div id="mid-details2">
            <img id="mid-img" src="../assets/img/Section1.png" alt="midddle">
        </div>
        </div>
    </section>
</div>