/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-suffix .mat-icon{
    font-size: 105%;
}
f-container{
    display: flex;
    flex-direction: column;
}
f-container> *{
    width:100%;
}
.mat-card{
    background-color: white;
    color: black;
}

.b-color{
    background-color:#f2f2f2;
}
.shake{
    animation: shake 2s ease  infinite forwards running;
    transform: translate3d(0,0,0);
}

@keyframes shake{
    10%,90%{transform: translate3d(-1px,0,0);}
    20%,80%{transform: translate3d(2px,0,0);}
    30%,50%,70%{transform: translate3d(-4px,0,0);}
    40%,80%{transform: translate3d(4px,0,0);}
}
.s-icon{
    width:40px;
    height:40px; 
 }
 .page-control /deep/ .ngx-pagination .current{
    background: #30763b;
    border-radius: 12%;
    font-size: x-large;
    
}
.page-control /deep/ .ngx-pagination a{
    outline-color: #40a551bf;
}
.page-control /deep/ .ngx-pagination a:hover{
    background-color: transparent;
}
